.question {
  margin-bottom : 20px;

  h2 {
    background : lightgrey;
    margin : 0;
    padding : 20px;
  }
}

.question_info {
  display : flex;
  background : dimgrey;
  color : white;
  padding : 10px;
  p {
    margin : 0;
    width : 85%;
  }
}