form {
  background : lightgrey;
  padding : 20px;
}

label {
  display : block;
  margin-bottom : 5px;
}

input {
  margin-bottom : 20px;
}

button {
  background : dimgrey;
  color : white;
  border : none;
  padding : 10px 20px;
  cursor : pointer;
}

#question_content {
  width : 100%;
  line-height : 40px;
  font-size : 1.2rem;
}

