.question {
  margin-bottom : 20px;
}

.question-title {
  background : lightgrey;
  margin : 0;
  padding : 20px;

  a {
    color : black;
    text-decoration : none;
  }
    
  a:hover {
    color : #6C7A89;
  }
}

.question-infos {
  display : flex;
  background : dimgrey;
  color : white;
  padding : 10px;
  p {
    margin : 0;
    width : 80%;
  }
}