#return-btn {
  display : inline-block;
  background : lightgrey;
  color : dimgrey;
  padding : 8px;
  font-size : .8rem;
  text-decoration : none;
  border-radius : 4px;
  margin-bottom : 20px;

  &:hover {
    background : #212121;
    color : white;
  }
}

#reponses {
  background : #212121;
  padding : 20px;
  margin-bottom : 20px;

  &>h2 {
    color : #EEE;
    margin : 15px 0;
  }
}

.reponse {
  margin-bottom : 15px;
}

.reponse-infos {
  background : #BDBDBD;
  padding : 15px 20px;

  p {
    margin : 0;
    margin-bottom : 5px;
    font-weight : bold;
  }

  time {
    font-size : .8rem;
  }
}

.reponse-content {
  background : #EEEEEE;
  padding : 20px 20px 30px 20px;

  h3 {
    margin : 0;
    margin-bottom : 10px;
  }

  p {
    margin : 0;
  }
}

#no-reponse {
  color : #EEE;
}